select {
    width: 150px;
    font-size: 16px;
    background-color:transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-bottom:1px solid black;
    color:white;
}

option{
    margin: 40px;
    background: rgba(0, 0, 0, 1);
    color: #fff;
}

label{
    color:white;
}

form{
    background-color:#383838;
    border-radius:10px;
    border: 1px solid black;
}

input{
    border:none;
    background-color:transparent;
    border-bottom:1px solid black;
    color:white;
}